.about {
    padding: 2rem;

    &__content {
        font-size: 1.2rem;

        p {
            margin: 1rem 0;
            line-height: 1.5;
            width: 60%;
        }

        &__tech {
            display: flex;
            margin-top: 1.5rem;

            svg {
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}